body {
  background-color: rgb(220, 255, 220);
}

header {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 5px;
  font-size: 15px;
  opacity: 0.4;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
form {
  display: flex;
  padding: 10px 20px 30px;
}

.instructions {
  padding: 10px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 18px;
  border-width: 1.5px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.submit-button {
  background-color: rgb(106, 164, 106);
  color: rgb(240, 248, 255);
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  width: 110px;
  margin-left: 18px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
}

.submit-button:hover {
  background-color: rgb(81, 136, 81);
  transition: 0.2s;
  cursor: pointer;
}

.container-big {
  margin: 80px auto;
  max-width: 700px;
}

.container-small {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px auto 0;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.recipe {
  font-size: 16px;
  padding: 15px;
  display: flex;
  margin: auto 40px;
  border-color: black;
  border-left: 1.5px solid rgb(188, 188, 188);
  line-height: 2;
}

footer {
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
}
